---
import Base from "@/layouts/BaseLayout.astro";
---

<Base title="Page Not Found - wgw.lol">
  <h1>Page Not Found</h1>
  <pre>{JSON.stringify({url: new URL(Astro.request.url)}, null, 2)}</pre>
</Base>
