---
import Base from "@/layouts/BaseLayout.astro";
import { resolveRedirectPath } from "@/lib/utils";

// let resp = {} as any;
const url = new URL(Astro.request.url);

if (Astro.request.method === "POST") {
  const form = await Astro.request.formData();
  const query = String(form.get("searchquery"));

  if (!query) {
    return Astro.redirect("/");
  }

  url.searchParams.set("skipProfile", "1");
  const red = await resolveRedirectPath(query, url);

  console.log({ red, query });
  return Astro.redirect(red);
}

const inputClasses = `min-w-0 flex-auto rounded-md rounded-r-none border-0 bg-white/5 px-3.5 py-2 text-gray-200 shadow-sm ring-1 ring-inset ring-white/10 focus:ring-1 focus:ring-inset focus:ring-purple-700 sm:text-sm sm:leading-6`;
---

<Base>
  <div
    class="sm:pb-auto mx-auto flex max-w-7xl flex-col items-center justify-center px-16 pb-20"
  >
    <!-- <div class="mx-auto max-w-7xl px-6"> -->
    <!-- mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2 -->
    <form method="POST" action="/" class="w-full pt-40">
      <h1
        id="brand"
        class="rainbow-animate bg-gradient-to-br from-purple-400 to-orange-500 box-decoration-clone bg-clip-text py-3 text-5xl font-extrabold text-transparent"
      >
        <a href="/">wgw.lol</a>
      </h1>
      <!-- <p class="mt-4 text-lg leading-8 text-gray-200 dark:text-gray-600">One place to learn, explore, create and trade Ethscriptions.</p> -->
      <h2 class="mt-4 text-lg text-gray-200">
        The leading Open Source platform to learn, explore, create, and trade
        any EVM's calldata.
      </h2>
      <div class="my-4 flex max-w-full">
        <label for="searchbox" class="sr-only"
          >Search Ethscriptions Ecosystem</label
        >

        {
          url.searchParams.get("error") ? (
            <input
              id="searchbox"
              name="searchquery"
              type="text"
              autofocus
              autocomplete="text"
              required
              value=""
              class={inputClasses + " animate-skew-x-shakeng"}
              placeholder="No results found, try something else"
            />
          ) : (
            <input
              id="searchbox"
              name="searchquery"
              type="text"
              autofocus
              autocomplete="text"
              required
              class={inputClasses}
              placeholder="Search by Address / Transaction / Ethscription / Profile / Text / ENS"
            />
          )
        }

        <button
          type="submit"
          class="flex-none rounded-md rounded-l-none bg-purple-900/50 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-white/10 transition hover:bg-purple-900/60 hover:ring-purple-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-900"
          >Search</button
        >
      </div>
      <div class="flex flex-col gap-3 sm:flex-row">
        <span class="hidden font-semibold text-gray-100 sm:inline-block"
          >Quick Links:</span
        >
        <ul class="flex flex-wrap gap-3 text-gray-300">
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >Explore</a
            >
          </li>
          <!-- <li class=""><a href="#" class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500">Magazine</a></li> -->
          <!-- <li class=""><a href="#" class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500">Hosting</a></li> -->
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >Learn</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >Tools</a
            >
          </li>
          <!-- <li class=""><a href="#" class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500">Docs</a></li> -->
          <li class="">
            <a
              href="#"
              class="border-b border-dashed border-b-gray-300 transition hover:text-purple-500"
              >API</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="cursor-not-allowed border-b border-dashed border-b-gray-300 line-through transition"
              >Market</a
            >
          </li>
          <li class="">
            <a
              href="#"
              class="cursor-not-allowed border-b border-dashed border-b-gray-300 line-through transition"
              >Auctions</a
            >
          </li>
        </ul>
      </div>
    </form>
    <!-- rounded-3xl p-6 ring-1 ring-neutral-950/5 transition hover:bg-neutral-50 -->
    <!-- <dl class="grid w-10/12 gap-x-8 gap-y-10 lg:grid-cols-3"> -->

    <dl
      class="grid w-full grid-cols-1 gap-x-8 gap-y-10 pt-20 md:grid-cols-2 lg:grid-cols-3"
    >
      <div
        class="feature flex flex-col items-start rounded-xl bg-slate-50 p-6 transition hover:bg-gray-100"
      >
        <dt class="flex items-center gap-3 text-lg font-semibold">
          <div class="rounded-xl bg-purple-900 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span
            class="rainbow-animate-slower bg-gradient-to-br from-purple-500 to-orange-500 bg-clip-text text-xl text-transparent"
            >Explore</span
          >
        </dt>
        <dd class="mt-4 leading-normal text-gray-600">
          Explore the growing Ethscriptions ecosystem and its users. Search
          anything whether you're looking for a user or a specific ethscription.
          It's just the beginning of full-blown search engine.
        </dd>
      </div>

      <div
        class="feature flex flex-col items-start rounded-xl bg-slate-50 p-6 transition hover:bg-gray-100"
      >
        <dt class="flex items-center gap-3 text-lg font-semibold">
          <div class="rounded-xl bg-purple-900 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span
            class="rainbow-animate-slower bg-gradient-to-br from-purple-500 to-orange-500 bg-clip-text text-xl text-transparent"
            >Learn and share</span
          >
        </dt>
        <dd class="mt-4 leading-normal text-gray-600">
          Learn what are Ethscriptions and how they work. What are the
          differences compared to regular Ethereum NFTs and the Bitcoin
          Ordinals? Then use the platform to create an Ethscription or launch
          your first project.
        </dd>
      </div>
      <div
        class="feature flex flex-col items-start rounded-xl bg-slate-50 p-6 transition hover:bg-gray-100"
      >
        <dt class="flex items-center gap-3 text-lg font-semibold">
          <div class="rounded-xl bg-purple-900 p-2 ring-1 ring-white/10">
            <svg
              class="h-6 w-6 text-white"
              aria-hidden="true"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <span
            class="rainbow-animate-slower bg-gradient-to-br from-purple-500 to-orange-500 bg-clip-text text-xl text-transparent"
            >Develop</span
          >
        </dt>
        <dd class="mt-4 leading-normal text-gray-600">
          Are you a developer? We have powerful APIs, tools, and extensive docs.
          Oh, you're creator? Fine, launch with us. Learn and use the help of
          people building on the protocol since the beginning.
        </dd>
      </div>
    </dl>
    <!-- </div> -->
  </div>
</Base>
